<div class="m-auto border rounded p-5">
  <div class="m-auto w-50">
    <h2 class="text-center">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="d-flex flex-column mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      </div>
      <div class="d-flex flex-column mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", required: true %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div>
        <%= f.submit "Log in", class: 'btn btn-dark m-auto w-100 d-block' %>
      </div>
    </div>
  <% end %>
</div>
